@model IEnumerable<HPE.Kruta.Model.Role>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            Selected
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID) -
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <input id="chkSelectRole" type="checkbox"
                       onchange="onSelectEmployeeRole(this);"
                       @(item.EmployeeRoles.Count(q => q.EmployeeID == ViewBag.EmployeeID) > 0 ? "checked" : "")
                       value="@item.RoleID"
                       data-EmployeeRoleID="@(item.EmployeeRoles.FirstOrDefault(q => q.EmployeeID == ViewBag.EmployeeID) != null ? item.EmployeeRoles.FirstOrDefault(q => q.EmployeeID == ViewBag.EmployeeID).EmployeeRoleID:0)" />
            </td>

            <td></td>
        </tr>
    }

</table>